<section class="block container">
  <header class="block__header">
    <h2>Host on the Cloud to keep Growing</h2>
    <p>
      Lorem ipsum, dolor sit amet consectetur adipisicing elit. Veritatis, a!
    </p>
  </header>
  <article class="grid grid--cols-2 feature">
    <div class="feature__content">
      <span class="icon-container">
        <svg class="icon icon--primary">
          <use xlink:href="images/sprite.svg#easy"></use>
        </svg>
      </span>
      <h3 class="feature__heading">Super Easy to Use</h3>
      <p>
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quos
        exercitationem laborum laboriosam. Temporibus molestiae odio alias
        tempore qui aliquam exercitationem?
      </p>
      <a href="#" class="link-arrow">Learn More</a>
    </div>
    <picture>
      <source type="image/webp" srcset="images/easy.webp 1x" />
      <img class="feature__image" src="images/easy.webp" alt=""
    /></picture>
  </article>
</section>

<section class="block container">
  <article class="grid grid--cols-2 feature">
    <div class="feature__content">
      <span class="icon-container">
        <svg class="icon icon--primary">
          <use xlink:href="images/sprite.svg#easy"></use>
        </svg>
      </span>
      <h3 class="feature__heading">Super Easy to Use</h3>
      <p>
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quos
        exercitationem laborum laboriosam. Temporibus molestiae odio alias
        tempore qui aliquam exercitationem?
      </p>
      <a href="#" class="link-arrow">Learn More</a>
    </div>
    <picture>
      <source type="image/webp" srcset="images/easy.webp 1x" />
      <img class="feature__image" src="images/easy.webp" alt=""
    /></picture>
  </article>
</section>

<section class="block container">
  <article class="grid grid--cols-2 feature">
    <div class="feature__content">
      <span class="icon-container">
        <svg class="icon icon--primary">
          <use xlink:href="images/sprite.svg#easy"></use>
        </svg>
      </span>
      <h3 class="feature__heading">Super Easy to Use</h3>
      <p>
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quos
        exercitationem laborum laboriosam. Temporibus molestiae odio alias
        tempore qui aliquam exercitationem?
      </p>
      <a href="#" class="link-arrow">Learn More</a>
    </div>
    <picture>
      <source type="image/webp" srcset="images/easy.webp 1x" />
      <img class="feature__image" src="images/easy.webp" alt=""
    /></picture>
  </article>
</section>
